@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header_brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav_item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav_item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav_item a:hover,
.main-nav_item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav_item-cta a {      /* Call-to-Action button */ 
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
/*  margin-top: 20px;      *//* .(20511.01.1 RAM Added) */ 
}

.main-nav_item-cta a:hover,
.main-nav_item-cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}