/*   include colors.scss */
/* ------------------------------------------- */

$main-color1: #4313ef;

$primary:#0d00ff;
$secondary: #bef436;
$tretiary:#03a9f4;
$tera: #ffeb3b;
$dark:#000000;
$grey:#919191;
$light:#dddddd;
$white:#FFFFFF;