/*   include section.scss */
/* ------------------------------------------- */

div {
 
    padding: {
        top: 20px;
        left: 10px;
        right: 10px;
        bottom: 20px;
        }
    h1{
          
        color: $secondary !important;
        align-items: center;
          
    }
  }